
<div id="searchpage" >
  <app-navbar></app-navbar>

  <app-search-bar hint="Search..." actionHint="Search" #search></app-search-bar>
  <div class="d-flex searchContainer fade-in" >
    <div class="filtersContainer" [formGroup]="fg">
      <h2>Filters</h2>
      <hr />
      <h4>Sort by</h4>
      <div class="chips">
        <mat-form-field appearance="fill">
          <mat-label>Sort by</mat-label>
          <mat-select formControlName="sortBy">
            <mat-option *ngFor="let sort of sortList" [value]="sort">{{
              sort
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h4>Genre</h4>
      <div class="chips">
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <mat-select formControlName="genre" multiple>
            <mat-option *ngFor="let genre of genreList" [value]="genre">{{
              genre
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <h4>BPM</h4>
      <div class="bpm">
        <ngx-slider
          formControlName="BPM"
          [(value)]="value"
          [(highValue)]="highValue"
          [options]="options"
          aria-label="BPM"
        ></ngx-slider>
      </div>
      <h4>Max Price</h4>
      <div class="price">
        <ngx-slider
        formControlName="maxPrice"
        [(value)]="valueDollar"
        [(highValue)]="highValueDollar"
        [options]="options1"
        aria-label="$"
      ></ngx-slider>
      </div>
      <p>
        <mat-checkbox formControlName="favorites"
          >Show only favorites</mat-checkbox
        >
      </p>
    </div>
    <div class="searchResult">
      <div class="searchResultContainer">
        <span class="headers"></span>
        <span class="headers"></span>
        <span class="headers"></span>
        <span class="headers">Name</span>
        <span class="headers"></span>
        <span class="headers">Produced by</span>
        <span class="headers">Tempo</span>
        <span class="headers"></span>
        <span class="headers"></span>
        
        <span class="headers"></span>
        <span class="headers">Price</span>
        <span class="headers">Favorite?</span>
        
        
      </div>
      <ng-container *ngFor="let beat of filteredBeats">
        <app-beat-single-item class='fade-in' [data]="beat"></app-beat-single-item>
      </ng-container>
    </div>
  </div>
</div>
