#searchpage {
  min-height: 100vh;
  padding-right: 8rem;
  padding-left: 8rem;

  background-image: url(../../../assets/signin-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.searchContainer {
  width: 80%;
  min-height: 80vh;
  margin: 6vh auto;
  background-color: #f0f0f0;
  border-radius: 14px;
}

.filtersContainer {
  padding: 4vh 2vw 1vw 4vh;
  border-radius: 14px;
  background-color: #e1e1e1;
}

.searchResult {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  margin-top: 4vh
}
.searchResultContainer {
  flex-grow: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3vh;

}

hr {
  border: 1px solid #390E4B;
  margin-bottom: 6vh;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  
  letter-spacing: 0.02em;
}

h4 {
  margin-top: 3vh;
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.02em;
}

.mat-slider-horizontal {
  height: 48px;
  min-width: 100%;
}

