
.navbar {
    background: none;
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link, .navbar-brand  {
      padding-top: 1.3rem;
      padding-right: 3rem;
  }
