<div class="wrapBeat fade-in fade-out" *ngIf="this.data">
  <div class="beatSingleItem">
    <img class="beatImg" [src]="thumbnail" />
    <span class="headers instrumental">{{ this.data.name }}</span>
    <span class="headers">·</span>
    <span class="headers">{{ this.data.producedby }}</span>
    <span class="headers" *ngIf="!editable">{{ this.data.BPM + "BPM" }}</span>
    <button
      mat-raised-button
      color="primary"
      class="headers"
      *ngIf="!editable"
      (click)="play()"
    >
      <mat-icon>play_circle_outline</mat-icon> Play
    </button>
    <span *ngIf="!inCart">
      <button
        mat-raised-button
        color="primary"
        (click)="onCartAdd(this.data)"
        class="headers"
        *ngIf="!editable"
      >
        <mat-icon>add_shopping_cart</mat-icon>{{ this.data.price + "$" }}
      </button>
    </span>
    <span *ngIf="inCart">
      <button
        mat-raised-button
        color="primary"
        class="headers"
        *ngIf="!editable"
      >
        In cart
      </button>
    </span>

    <div
      (click)="onHeartAdd(this.data)"
      class="example-button-container"
      class="headers"
      *ngIf="!editable"
    >
      <button
        mat-mini-fab
        [color]="isLiked ? 'primary' : 'secondary'"
        aria-label="Heart"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div
      class="example-button-container"
      class="headers"
      *ngIf="editable"
      (click)="onEdit(this.data)"
    >
      <button mat-mini-fab color="primary" aria-label="edit">
        <mat-icon>edit</mat-icon>
      </button>
      Edit beat
    </div>
  </div>
  <div class="headers">
    <mat-chip-list
      class="mat-chip-list-stacked headers genre"
      cdkDropListOrientation="horizontal"
      aria-label="Color selection"
    >
      <mat-chip *ngFor="let type of beatTypes" selected color="primary">
        {{ type }}
      </mat-chip>
    </mat-chip-list>
  </div>
</div>
