.beatSingleItem {
    color: #EFEBEB;
    display: flex;
    flex-direction: row;
    margin: 1vh 2vw 1vh 2vw;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    justify-content: space-around;
    background: rgb(54,21,68);
    background: linear-gradient(93deg, rgb(67, 44, 77) 0%, rgb(119, 46, 97) 45%, rgb(139, 137, 138) 93%);
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
    border-radius: 9px;
    align-items: center;
    
}
.beatImg {
    width:130px;
    height: 130px;

}

.instrumental {font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #EFEBEB;
}

