#homepage {
    height: 100vh;
    padding-right: 8rem;
    padding-left: 8rem;

    background-image: url(../../../assets/HOMEPAGE_bg.png)
  }

#bigText {
  font-size: 61px;
  margin-top: 10rem;
  margin-left: 6rem;
  font-family: 'Inter', sans-serif;
  font-weight: bolder;
  max-width: 660px;
  height: auto;
}

#primarycolor {
  color: #920B4F
}