#searchBar {
    margin-top: 10vh;

}

.form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

}

.form span {
    position: absolute;
}


.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 30px
}

.form-input:focus {
    box-shadow: none;
    border: none
}

#actionButton {
    background-color:#920B4F;
    color:white;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    padding: 9px 40px 9px 40px;
}