<div id="faqPage">
    <app-navbar></app-navbar>
    <div class="faqContainer">
        <h1 id="bigText" >Frequently asked questions</h1>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  What is beatstore?
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Beatstore is a marketplace where you can browse, listen, buy and sell music beats.</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Is it free?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>It is, and always will be. 100% of money goes to the seller, straight to his account</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    How do i sign in?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>It's simple. Just head to register page</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                   Can I remove my account?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Yes, go to your account page.</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    How do I pay?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>After adding music to cart, go to cart page and click buy button.</p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Who created beatstore?
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
              </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>