.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.4);
 } 

 .navbar-nav {
    margin-left: auto;
}

.navbar {
    background: none;
  }

  .navbar-expand-lg .navbar-nav .nav-link, .navbar-brand  {
      padding-top: 1.3rem;
      padding-right: 3rem;
  }

  .navbar-brand  {
      
  }