<h2 mat-dialog-title>Add new beat</h2>
<mat-dialog-content class="mat-typography">
  <h3>Fill</h3>
 
  <form [formGroup]="fg" class="example-form">
  <mat-form-field  class="example-full-width" appearance="fill">
    <mat-label>Beat name</mat-label>
    <input formControlName="beatname" matInput>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Upload img here</mat-label>
    <ngx-mat-file-input formControlName="img" [multiple]="multiple" [accept]="accept" [color]="color">
    </ngx-mat-file-input>
 </mat-form-field>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field appearance="fill">
        <mat-label>Select types:</mat-label>
        <mat-select formControlName="toppings" multiple>
          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field></td>
    <td><mat-form-field  lass="example-full-width" appearance="fill">
        <mat-label>BPM</mat-label>
        <input matInput #postalCode formControlName="bpm" maxlength="5" placeholder="Ex. 134" value="128">
      </mat-form-field></td>
  </tr></table>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field>
        <mat-label>Upload full beat in mp3</mat-label>
        <ngx-mat-file-input formControlName="beatmp3" [multiple]="multiple" [accept]="accept" [color]="color">
        </ngx-mat-file-input>
     </mat-form-field></td>
     <td></td>
  </tr>
  </table>
</form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="addBeat()" cdkFocusInitial>Add</button>
</mat-dialog-actions>