<div >

<div #player class="fixedInput">
  <mat-slider
    class="time-slider"
    min="0"
    [max]="state?.duration"
    step="1"
    [value]="state?.currentTime"
    (input)="onSliderChangeEnd($event)"
    [disabled]="state?.error || currentFile.index === undefined"
  ></mat-slider>
</div>
<div id="fixedPlayer">
  <div class="fixedPlayerContainer d-flex">
    <div class="imgTitle">
      <img class="img" src="../../../assets/singleItemMock.png" />
      <div class="title">
        <div>{{currentFile.name}}</div>
        <div class="light">{{currentFile.producedby}}</div>
        <div class="type">Lo-fi · hiphop · pop</div>
      </div>
    </div>
    <div>
      <a class="like" href="/"><fa-icon [icon]="faHeart"></fa-icon></a>
    </div>
    <div *ngIf="!isPlaying" class="playPause">
      <a (click)="play()"><fa-icon [icon]="faPlay"></fa-icon></a>
    </div>
    <div *ngIf="isPlaying" class="playPause">
      <a (click)="pause()"><fa-icon [icon]="faPause"></fa-icon></a>
    </div>

    <div class="volume">
      <fa-icon [icon]="faVolume"></fa-icon>
      <mat-slider
        #volumeslider
        thumbLabel
        tickInterval="0.1"
        step="0.1"
        min="0"
        (input)="onVolumeSliderChange($event)"
        value="1"
        max="1"
        [displayWith]="formatLabel"
        aria-label=""
      ></mat-slider>
    </div>

    <div class="price">
      <span class="prc">29.99$</span>
      <fa-icon [icon]="faCart"></fa-icon>
    </div>
  </div>
</div>
  
</div>