<app-navbar-only-logo></app-navbar-only-logo>
<div class="sign-in row justify-content-md-center">
    <div class="col-4 background align-middle sign-in-container">
      <div class="header d-flex justify-content-center align-top">
        <img src="../../../assets/signinLogo.png">
      </div>
      <div class="d-flex justify-content-center ">

        <form class="text-center" [formGroup]="registerForm">
          <div class="row">
            <div class="col">
              <div class="form-floating mb-6">
                <input class="form-control" 
                  type="text"
                  id="nickame"
                  formControlName="nickname"
                  placeholder="nickame"/>
                <label for="nickame">
                  Nickname
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating mb-3">
                <input class="form-control" 
                  type="text"
                  id="email"
                  formControlName="email"
                  placeholder="email"/>
                <label for="email">
                  Email
                </label>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" 
              type="file"
              id="img"
              formControlName="img"
              placeholder="Upload profile picture"/>
            <label for="img">
              Upload profile picture
            </label>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" 
              type="password"
              id="password1"
              formControlName="password1"
              placeholder="password"/>
            <label for="password">
              Password -min 6 characters
            </label>
          </div>
          <div class="form-floating">
            <input class="form-control" 
              id="password2"
              placeholder="Hasło" 
              type="password"
              formControlName="password2">
            <label for="password">Confirm pasword</label>
          </div>
          <div class="text-center">
            <button class="btn actionButton"
              type="button"
              (click)="submitForm()">
              Register
            </button>
          </div>
        </form>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <button class="btn loginbtn"
          routerLink="/login">
          Already have an account? <span class="color">Login now!</span>
        </button>
      </div>
    </div>
  </div>
    
  