#profilepage {
    background: rgb(54,21,68);
    background: linear-gradient(93deg, rgba(54,21,68,1) 0%, rgba(66,32,83,1) 45%, rgba(97,18,94,1) 93%);
    min-height: 100vh;
    padding-right: 8rem;
    padding-left: 8rem;

}

.profileContainer {
    width: 80%;
    min-height: 80vh;
    margin: 18vh auto;
    background-color: #f0f0f0;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}


.picture {
    margin-top: -7%;
    border:2px solid black;
    border-radius: 8px;
    flex-direction: column;
}

.profileName {
    text-align: center;
}

.settings {
    font-weight: bold;
    margin-top: 2vh;
}
.profilePicture {
    
    height: 200px;
}
.tabs {
    margin-top: 3vh;
    width: 70%;
    flex-direction: column;
}
.bio {
    margin-left:100px;
    margin-right: 100px;
    text-align: center;
    margin-top: 5vh;
}