<div id="profilepage" class="fade-in">
  <app-navbar></app-navbar>
  <div class="profileContainer">
    <div class="picture">
      <img #profileImg
        class="profilePicture"
        [src]="imageURL"
      />
      <div class="profileName"><h2>{{username}}</h2></div>
    </div>
    <div class="profileName settings">
     <a  [routerLink]="['edit']"> <fa-icon [icon]="faWrench"></fa-icon> Edit </a>
    </div>
    <div class="profileName settings" >
      <a [routerLink]="[username]"> <fa-icon [icon]="faWrench"></fa-icon> Show public profile </a>
    </div>
    <p class="bio">
      {{bio}}
    </p>
    <mat-tab-group class="tabs" mat-align-tabs="center">
      <mat-tab label="Bought licenses">
        <ng-container *ngFor="let beat of boughtBeats">
          <app-beat-single-downloadable [data]="beat" ></app-beat-single-downloadable>
        </ng-container>
        <h4 class="wide" *ngIf="!boughtLicenses">You have no bought licenses!</h4>
      </mat-tab>
      <mat-tab label="My total sales">
        <h3>Total plays: 200</h3>
        <h3>Total sales: 399$</h3>
      </mat-tab>
      <mat-tab label="My beats">
        <button class="wide" mat-raised-button color="primary" (click)="addNewBeat()">Add new beat</button>
        <ng-container *ngFor="let beat of myBeats">
          <app-beat-single-item [data]="beat" [editable]="true"></app-beat-single-item>
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
