<h2 mat-dialog-title>Edit profile</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="fg" class="example-form">
  <mat-form-field  class="example-full-width" appearance="fill">
    <mat-label>Beat name</mat-label>
    <input  formControlName="beatname" [value]="beatname" matInput>{{beatname}}</mat-form-field>
  <tr></tr>
  <mat-form-field  class="example-full-width" appearance="fill">
    <mat-label>Price</mat-label>
    <input  formControlName="price" [value]="pricex" matInput> {{pricex}}
  </mat-form-field>
  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field appearance="fill">
        <mat-label>Select types:</mat-label>
        <mat-select formControlName="toppings" multiple>
          <mat-option *ngFor="let topping of genreList" [value]="topping">{{topping}}</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr>
    <tr>
    <td><mat-form-field  lass="example-full-width" appearance="fill">
        <mat-label>BPM</mat-label>
        <input matInput #postalCode formControlName="bpm" maxlength="5" [value]="bpm" placeholder="Ex. 134">{{bpm}}
      </mat-form-field></td>
  </tr></table>
</form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="saveBeat()" cdkFocusInitial>Save</button>
</mat-dialog-actions>